@define-color bar-bg rgba(0, 0, 0, 0);
/* Keep transparent */
* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#battery,
#temperature,
#clock,
#mpris,
#workspaces,
#custom-rofi,
#tray,
#pulseaudio,
#backlight,
#network,
#custom-pomodoro,
#custom-right,
#custom-left {
  color: @base06;
  background: @base00;
  margin: 4px 0;
  opacity: 1;
  border: 0 solid @base00;
}

tooltip {
  background: @base00;
  color: @base07;
  border-radius: 22px;
  border-width: 2px;
  border-style: solid;
  border-color: @base01;
}

#workspaces button {
  box-shadow: none;
  background: @base00;
  text-shadow: none;
  padding: 0;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 5px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 3px;
  color: @base04;
}

#workspaces button.active {
  background: @base01;
  color: @base0E;
}

#workspaces button:hover {
  background: @base01;
  border: none;
}

#workspaces {
  padding: 0;
}

#custom-rofi {
  color: @base08;
  padding-left: 0;
  padding-right: 10px;
}

#temperature {
  color: @base0C;
  padding-left: 0;
  padding-right: 19px;
}

#temperature.critical {
  color: @base08;
  padding-left: 0;
  padding-right: 19px;
}

#backlight {
  color: @base0A;
  padding-left: 0;
  padding-right: 19px;
}

#pulseaudio {
  color: @base0E;
  padding-left: 0;
  padding-right: 19px;
}

#battery {
  color: @base0D;
  padding-left: 0;
  padding-right: 0;
}

#tray {
  padding-left: 0;
  padding-right: 19px;
}

#network {
  padding-left: 0;
  padding-right: 19px;
}

#clock {
  color: @base0E;
  padding-left: 0;
  padding-right: 0;
}

#mpris {
  color: @base0E;
  padding-left: 0;
  padding-right: 19px;
}

#custom-pomodoro {
  color: @base08;
  padding-left: 0;
  padding-right: 19px;
}

#custom-right {
  margin-right: 9px;
  padding-right: 3px;
  border-radius: 0 22px 22px 0;
}

#custom-left {
  margin-left: 9px;
  padding-left: 3px;
  border-radius: 22px 0 0 22px;
}
